<h2>Добро пожаловать в PizzaShop!</h2>

<div class="row">
	<% @products.each do |p| %>
		<div class="col-md-3">
			<div>
				<%= p.title %>
			</div>

			<div>
				<img src="<%= p.path_to_image %>"style="width: 100%; max-width: 200px;"/>
			</div>

			<div>
				<%= p.description %>
			</div>

				<div>
				<%= p.price %>
			</div>
		</div>

	<%end%>
</div>
<button class="btn btn-primary" onclick="something()">Нажми на меня!</button>
